#f-- #f-alert,
#f-- #f-alert-deframa {
  font-family: 'Roboto';

  &.alert-info.black {
    color: #fff !important;
    background-color:  c(d, 9) !important;
    border-color: c(d, 9) !important;

    .saveyourinternet {
      width: 100%;
      display: block;
      background-color:  c(d, 9) !important;
      border-color: c(d, 9) !important;
      text-align: center;

      &:hover, &:focus {
        background-color:  c(d, 9) !important;
      }
    }
  }

  &.alert {
    font-size:14px;
    line-height:20px;
    text-shadow:none;
    margin: 10px auto 0;
    max-width: 720px;

    p {
      margin-bottom:5px;
      margin-top:0px;
    }

    a:not(.btn) {
      text-decoration: underline !important;
      -moz-text-decoration-style: dotted;
      -webkit-text-decoration-style: dotted;
      -ms-text-decoration-style: dotted;
      text-decoration-style: dotted;

      &:hover, &:focus {
        text-decoration: underline !important;
        -moz-text-decoration-style: solid;
        -webkit-text-decoration-style: solid;
        -ms-text-decoration-style: solid;
        text-decoration-style: solid;
      }
    }
    a {
      font-weight:inherit !important;
    }
  }

  &.alert-dismissible .close {
    right: 0px;
    margin-right: 5px;
    margin-top: -5px;
  }

  & .clearfix {
    height:auto !important;
    overflow:visible !important;
  }
}

@media (max-width:576px) {
  #f-- #f-alert,
  #f-- #f-alert-deframa {
    &.alert {
      border-top:0px;
      border-left:0px;
      border-right:0px;
      border-radius:0 !important;
      margin-top: 0;
    }
  }
}