.f-bs4 #f-footer {
  padding:20px 0 20px 0;
  margin:0;
  background:c(g, 4);
  color: c(g, 9);
  font-size:14px;
  width:100%;
  max-width:100%;
  bottom:0;
  border-top:1px solid c(g, 5);
  height:auto;
  text-align:left;
  font-family: 'Roboto';
  clear: both; /*  archive.~libre.org */

  .container {
    background:c(g, 4);
    min-height:0px;
    padding: 0;
  }

  h1 {
    font-size:16px;
    font-weight:bold;
    margin-top:0;

    &::after {
      content: none;
    }
  }

  h2 {
    font-size:16px;
    font-weight:bold;

    &::after { /* contact */
      content: none;
    }
  }

  a {
    color:c(g, 9);
    text-decoration:none;
    border-bottom:none;
    font-size:14px;
    background: transparent; /* contact */

    .fa-fw {
      padding:5px;
      width:36px;
      height:36px;
      text-decoration:none;
    }

    &:hover, &:focus {
      color:c(g, 9);
      text-decoration: underline;

      .fa {
        background:c(f, 7);
        color:c(d, 1);
        border-radius:5px;
      }
    }
  }

  .btn {
    margin-top: 0;
    height: auto; /* material */
  }

  .popover, .input-group {
    font-size: 14px;
  }

  .popover-header {
    font-size: 16px;
  }

  nav { /* material */
    background: none;
    box-shadow: none;
    line-height: 1.5;
    height: auto;

    li {
      float: none;
    }

    a {
      padding: 0;
    }
  }

  .popover {
    a {
      border-bottom: 2px solid c(g, 5);

      &:hover, &:focus {
        border-bottom: 2px solid c(f, 5);
        text-decoration: none;
      }
    }

    ul {
      padding-left: 0;
      margin-top: .5rem;
      margin-bottom: .5rem;
      list-style: none;

      li {
        position: relative;

        &::before {
          content: ' ';
          display: block;
          float: left;
          margin-top: 4px;
          margin-right: 3px;
          width: 12px;
          height: 12px;
          border-radius: 2px;
          border: 2px solid transparent;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='M4.57 13.71a2.29 2.29 0 11-4.57 0 2.29 2.29 0 014.57 0zm6.28 1.7A10.86 10.86 0 00.6 5.14a.57.57 0 00-.6.57v1.72a.57.57 0 00.53.57A8 8 0 018 15.47c.02.3.27.53.57.53h1.72c.32 0 .59-.27.57-.6zm5.15 0A16.01 16.01 0 00.59 0 .57.57 0 000 .57V2.3c0 .3.24.56.55.57 6.83.28 12.31 5.76 12.59 12.59a.57.57 0 00.57.55h1.72c.32 0 .58-.27.57-.59z'/%3E%3C/svg%3E");
          background-position: center center;
          background-size: cover;
        }

        &:nth-child(1)::before {
          border-color: c(r, 7);
          background-color: c(r, 7);
        }

        &:nth-child(2)::before {
          border-color: c(j, 5);
          background-color: c(j, 5);
        }

        &:nth-child(3)::before {
          border-color: c(b, 6);
          background-color: c(b, 6);
        }

        &:nth-child(4)::before {
          border-color: c(v, 5);
          background-color: c(v, 5);
        }

        &:nth-child(5)::before {
          border-color: c(r, 8);
          background-color: c(r, 8);
        }
      }
    }
  }
}

/* Display footer only when CSS is ready */
#fp-footer[style*="display: none"] {
  display: block !important;
}

/*----------------------------------------------------------------------
  No footer in…
*/
[data-url*=".framaboard.org"],
[data-url*="://framabookin.org/b"],

/* Ethercalc */
[data-url*="framacalc.org/"]:not([data-url$="/_start"]):not([data-url$="framacalc.org/"]),

[data-url*="://framacarte.org"][data-url*="/map/"],                     /* uMap */
[data-url*="://framacolibri.org"],
[data-url*="://framacloud.org"],

/* Nextcloud */
// [data-url*="://framagenda.org"][data-url*="index.php/app"]:not([data-url*="registration"]),
// [data-url*="://framagenda.org"][data-url*="index.php/setting"],
[data-url*="://framadrive.org"][data-url*="index.php/app"]:not([data-url*="registration"]),
[data-url*="://framadrive.org"][data-url*="index.php/setting"],

[data-url*="://framaestro.org/p/"],                                     /* Framaestro project */
[data-url*="://framindmap.org/c/maps"][data-url*="/edit"],              /* Wisemapping */
[data-url*="://framinetest.org/carte/"],                                /* Minetest map */
// [data-url*="://framanews.org/ttrss"],                                /* TTRSS */
[data-url*="://framapack.org/admin/"],                                  /* Framapack admin */
[data-url*="://framaphonie.org"],
[data-url*="://framapiaf.org"]:not([data-url*="/about"]),
[data-url*=".frama.site/admin"],                                        /* Grav */
[data-url*="://framateam.org"],
[data-url*="://framavectoriel.org/svg-editor"],                         /* SVG-Edit */
[data-url*="://framavox.org"],

[data-url*="://mypads.framapad.org"],                                   /* MyPads */
[data-url*="://mypads2.framapad.org"],                                  /* MyPads2 */
[data-url*=".framapad.org/p/"],                                         /* Etherpad */

[data-url*="://bot.framasoft.org"],
[data-url*="://docs.framasoft.org"],
[data-url*="://forum.framasoft.org"],
[data-url*="://my.framasoft.org"][data-url*="source=bookmarklet"],      /* MyFrama popup */
[data-url*="://participer.framasoft.org"],
[data-url*="://status.framasoft.org"],

[data-url*="://connard.pro"],

[data-inframe="true"] {
  #f-footer,
  #f-footer[style] {
    display: none !important;
  }
}

/* Keep position relative */
[data-url*="framagenda.org"] #f-footer,
[data-url*="framadate.org/create_"] #f-footer,
[data-url*="framadrive.org"] #f-footer,
[data-url*="soutenir.framasoft.org"] #f-footer {
  position: relative !important;
}

/* Brown Footer */
[data-url*="contact.framasoft.org"] #f-footer,
[data-url*="soutenir.framasoft.org"] #f-footer {
  background:c(m, 4);
  border-top:1px solid c(m, 5);
  color: c(m, 9);

  .container {
    background:c(m, 4);
  }

  h1, h2 {
    color: c(m, 7);
  }

  .btn-dark {
    background-color: c(m, 9);
    border-color: c(m, 9);

    &:hover,
    &:focus, &.focus {
      background: darken(c(m, 9), 7.5%);
      border-color: darken(c(m, 9), 10%);
    }
  }

  a {
    color:c(m, 9);

    &:hover, &:focus {
      color:c(m, 9);

      .fa {
        background:c(f, 7);
        color:c(d, 1)
      }
    }
  }
}
