@import '~vue-fs-commons/app/assets/scss/frama/colors';

/* Variables */

/* Brown variant
$bsColor: (('f', 7), ('m', 7), ('m', 8), ('m', 2), ('b', 7), ('v', 6), ('o', 7), ('r', 8), ('d', 7));

$bgcolor: c(m, 3);

$secondary: bs(c, 2);
$dark: bs(c, 3);
$light: bs(c, 4);
*/

$ombre: 0px 3px 4px rgba(50, 50, 50, 0.2);
$img-ombre: 0px 2px 6px rgba(50, 50, 50, 0.4);
$carousel-ombre: 0px 3px 3px rgba(50, 50, 50, 0.5);
$button-ombre: 0px 1px 1px rgba(50, 50, 50, 0.5);

/* Frameworks */
// @import 'frameworks/bootstrap3';
// @import 'frameworks/bootstrap4'; => nav.scss

/* Fonts */
@import 'fonts/fork-awesome';
@import 'fonts/dejavu-sans';
@import 'fonts/roboto';

/* Frama */
@import '~vue-fs-commons/app/assets/scss/frama/common';

/*
  Bootstrap 4 import
  + conflicts resolution
  + #f-nav container
*/
@import 'nav';

/* Components */
@import 'sidebar';
@import 'sidebar-btn';
@import 'alert';
@import 'modal';
@import 'optin';
@import 'feedback/feedback';
@import 'footer';

/* Sites Frama */
@import 'sites/bin';
@import 'sites/board';
@import 'sites/bookin';
@import 'sites/calc';
// @import 'sites/carte';
@import 'sites/clic';
@import 'sites/colibri';
@import 'sites/date';
@import 'sites/drop';
@import 'sites/forms';
@import 'sites/gitbook'; /* docs~, participer~, ~cloud */
@import 'sites/libre';
@import 'sites/listes';
@import 'sites/localhost'; /* tests */
@import 'sites/maestro';
@import 'sites/memo';
@import 'sites/pad';
@import 'sites/pic';
@import 'sites/status';
@import 'sites/team';
@import 'sites/vectoriel';
@import 'sites/vox';
@import 'sites/wiki';

[data-url*="://degooglisons-internet.org"] {
  .list-group-item a[href$="framabee.org"],
  .list-group-item a[href$="framanews.org"],
  a[href$="framabee.org"].btn,
  a[href$="framanews.org"].btn {
      color: #767676;
      background: repeating-linear-gradient( -45deg, #fff, #fff 10px, #FFEBB5 10px, #FFEBB5 20px );
  }
}

/* Ajustements */
@import 'inframe';
@import 'mute';
@import 'overflow';

#f-- #f-nav[style="display: none;"] { // CSS Ready
  display: block !important;
}
