#f-- {
  font-size: 100%;
}

@import 'frama/bootstrap3';

#f-- .f-bs4 {
 /* $primary:       c(f, 7) !default;

  $danger:        c(r, 8);
  $info:          c(b, 7);
  $warning:       c(o, 7);
  $success:       c(v, 6); */

  @import 'frameworks/bootstrap4';
  @import 'frama/bootstrap4';

  font-family: 'Roboto', sans-serif;
  font-size: 1rem; /* ~calc */

  /* Fix conflicts */
  .modal-backdrop {
    opacity: 0.5;
  }

  .modal.fade {
    opacity: inherit;

    .modal-dialog {
      transform: inherit;
    }
  }

  .popover > .arrow,
  .popover > .arrow:after {
    border-style: none;
  }

  .embed-responsive {
    height: auto;
  }

  .svg-icon:not(.disc) {
    width: auto; /* ~colibri */
    height: auto; /* ~colibri */
  }
}
