/* Vertical bar */
#f-corner {
  position: fixed;
  top: 0;
  right: 0;
  border: none;
  border-radius: 0 0 0 54px !important;
  margin: 0;
  padding: 0;
  z-index: 1031;
  color: #fff;
  background: c(f, 7);

  img, svg {
    width: 30px;
    height: 30px;
    opacity: .9;
    margin-top: 16px;
    margin-left: 4px;
  }

  .logo-menu {
    width: 54px;
    height: 54px;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 1;

    > span:last-of-type {
      position: absolute;
      left: 12px;
      top: 4px;
    }
  }
}

/* Clearing */
[data-url*="://framateam.org"] .inMM {
  #channel-header .flex-parent,
  #navbar_wrapper #navbar,
  #sbrSearchFormContainer {
    padding-right: 55px;
  }
}

[data-url*=".frama.site/admin"] #admin-main .titlebar {
  padding-right: calc(1.5rem + 40px);
}

@media (max-width: 1200px) {
  [data-url*="://framacolibri.org"] .d-header .wrap {
    padding-right: 55px;
  }
}

/* Mute */
[data-url*=".framaboard.org/"],
[data-url*="://framabookin.org/b"],

[data-url*="://framacarte.org"][data-url*="/map/"],                     /* dans uMap */
[data-url*="://framadrop.org/lufi"],                                    /* dans Lufi, le temps de réparer les conflits avec Material */

[data-url*="://framinetest.org/carte/"],                                /* dans la carte Minetest */
[data-url*="://framavox.org"],

[data-url*="://bot.framasoft.org"],
[data-url*="://my.framasoft.org"][data-url*="source=bookmarklet"],      /* dans la popup MyFrama */

[data-url*="://framadrive.org"][data-url*="index.php/app"]:not([data-url*="registration"]),
[data-url*="://framadrive.org"][data-url*="index.php/setting"],

[data-url*="://mypads.framapad.org"],                                   /* MyPads */
[data-url*="://mypads2.framapad.org"],                                  /* MyPads2 */
[data-url*=".framapad.org/p/"],                                         /* Etherpad */
[data-url*="://framindmap.org/c/maps"][data-url*="/edit"],              /* Wisemapping */
[data-url*="://framaestro.org/p/"],                                     /* Maestro */
[data-url*="://framapiaf.org"]:not([data-url*="/about"]),               /* Mastodon */
[data-url*="://framavectoriel.org/svg-editor"],                         /* SVG-Edit */

[data-inframe="true"] {
  #f-nav #f-corner {
    display: none;
  }
}
