.f-bs4 {
  #fsb-info,
  #f-modal-about,
  #f-fb-faq,
  #f-fb-participate {
    @import '~vue-fs-commons/app/assets/scss/frama/bootstrap4/links';
  }

  .b-sidebar-header .btn-link {
    background: none; /* VueFS */
  }
}

.f-bs4 #f-sidebar {
  text-shadow: none; /* ~bookin */

  * {
    box-sizing: border-box !important; /* ~calc */
    max-width: initial; /* ~forms */
  }

  p {
    line-height: 1.4rem;
  }

  h1, h2, h3, h4, h5, h6, .h1,
  .h2, .h3, .h4, .h5, .h6 {
    padding-top: 0; /* bs3 */
    font-family: 'Roboto', sans-serif; /* ~book */
  }

  h1, h1 a {
    padding-top: 0; /* ~memo */
    padding-bottom: 0; /* ~listes */
    background: transparent; /* ~listes */
    font-family: 'Roboto', sans-serif; /* ~memo */
    letter-spacing: normal; /* ~memo */
    font-size: 1.75rem /* =.h3 ~memo */
  }

  h2::after {
    content: none; /* ~contact */
    border: none;  /* ~contact */
    margin: 0; /* ~contact */
  }

  .alert, .card-body {
    ul:last-child,
    p:last-child {
      margin-bottom: 0;
    }
  }

  .btn {
    white-space: normal; /* bs3 */
    text-transform: none; /* ~pad */
  }

  .row {
    margin-bottom: 0;
    background: transparent; /* ~listes */
    box-shadow: none; /* ~listes */
    float: none; /* ~etherpad */
  }

  .row.fb-o7 {
    background: c(o, 7); /* ~listes */
  }

  .logo-80 {
    width: 80px;
    height: 80px;
  }

  .b-sidebar {
    font-family: 'Roboto', sans-serif;

    .b-sidebar-footer {
      height: auto; /*  ~agenda */
      margin-top: 0; /* ~carte */
      padding: 0; /* ~listes */
    }
  }

  .s-help {
    .b-sidebar-body {
      background: c(o, 2);
    }

    @media (min-width: 576px) {
      .b-sidebar {
        width: 500px;
      }
    }
  }

  #fsb-help-search {
    border-radius: 0;
  }

  #fsb-search-input {
    background: c(g, 2);
  }

  header {
    margin-bottom: 0; /* ~board */
    border-bottom: none; /* ~board */

    > strong {
      width: 100%;
    }

    #f-brand {
      img {
        width: 50px;
        height: 50px;
      }

      span {
        vertical-align: sub;
      }
    }

    .btn-light {
      background: c(g, 2);

      &:hover, &:focus, &:active {
        background: c(g, 3) !important;
        border-color: transparent;
      }
      &.active {
        background: lighten(c(g, 4), 5%) !important;
      }
    }

    .btn-group .btn-light,
    #btn-about {
      border: 1px solid darken(c(g, 4), 5%) !important;
    }
  }

  /* Closed / Invisibilized services */
  .fs-bee, .fs-clic, .fs-lab, .fs-my, .fs-news,
  .fs-petitions, .fs-pic, .fs-story, .fs-vectoriel {
    display: none !important;
  }

  #fsb-grid {
    .fs-newsletter, .fs-rss, .fs-news-pt, .fs-news-mz
    .fs-diaspora, .fs-mastodon, .fs-twitter, .fs-facebook,
    .fs-wikipedia {
      display:none;
    }
  }

  .si-external-link-alt {
    fill: c(d, 6);
    position: absolute; /* keep it on the same line */
    margin-left: 2px;
    display: inline;

    .fa-xs {
      font-size: .5em;
      margin-top: -.25em;
    }
  }

  #fsb-category, #fsb-grid {
    .btn-light {
      border: none;
      background: transparent; // c(d, 1);

      .btn-block  {
        font-weight: bold;
        color: c(g, 7);
        fill: c(g, 6);
      }

      &:hover, &:focus, &:active {
        background: c(d, 1);
      }

      b {
        font-weight: bold;
      }

      .svg-icon.d-block {
        margin-top: .25rem;
      }
    }
  }

  #fsb-category {
    .si-chevron-up,
    .si-chevron-left,
    .si-chevron-right,
    .si-chevron-down {
      fill: c(g, 6);
      float: right;
      margin-top: .25rem;
      margin-right: .5rem;
    }

    .si-chevron-left,
    .si-chevron-right {
      float: left;
    }

    .collapsed > span .si-chevron-up,
    .collapsed > span .si-chevron-left,
    .not-collapsed > span .si-chevron-right,
    .not-collapsed > span .si-chevron-down {
      display: none;
    }

    .not-collapsed,
    .collapsed {
      border: none;
    }

    .collapsed {
      border-top: 1px solid c(g, 4);
    }

    .not-collapsed {
      background: c(g, 6);
      border-color: c(g, 3);
      border-bottom: 1px solid c(g, 4);
      text-align: center !important;
      color: c(g, 1);
      .svg-icon {
        fill: c(g, 2)
      }
    }

    .collapse {
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;

      &.show {
        background: c(g, 3);
        border-color: c(g, 3);

        .collapsed {
          background: c(g, 3);
          border-color: c(g, 3);
          border-top: 1px solid c(g, 4);
          padding-left: 15px;
        }

        .not-collapsed {
          background: c(o, 3);
          border: none;
          border-left: 5px solid c(o, 6);
          text-align: left !important;
          padding-left: 10px;

          color: c(d, 9);
          .svg-icon {
            fill: c(o, 7)
          }
        }

        .show {
          background: c(g, 2);
          border-color: c(g, 2);
          border-left: 5px solid c(o, 6);
          border-right: none;
          border-bottom: none;
        }
      }
    }
  }

  .c-lvl1:not(.s-info) {
    .b-sidebar-footer,
    .c-lvl1.collapsed,
    .c-lvl1.collapse:not(.show) {
      display: none;
    }
  }

  #fsb-search {
    .list-group-item {
      background: none;
      display: none;
      border: none;
      border-radius: 0;
      padding: 0;

      a {
        font-weight: bold;
        background: none;
        color: c(g, 7);
        padding: 10px 15px; /* replace .list-group-item padding */
        display: block;
      }
    }


    .search-results {
      > div,
      > div > div {
        display: none;
      }

      .search {
        display: block;
      }
    }

    .exo-search {
      .svg-icon {
        margin-top: 0;
        margin-right: .25rem;
        padding: .5em;
      }
    }
  }

  .s-info #fsb-search {
    display:none;
  }

  #fsb-info {
    h2 img {
      width: 80px;
      height: 80px;
    }

    .alert {
      img {
        border: 3px solid transparent;
        min-width: 70px;
        width: 70px;
        height: 70px;
      }

      p:last-child,
      ul:last-child {
        margin: 0;
      }

      ul {
        padding-left: 1.5rem;
        list-style-type: disclosure-closed;
        margin-top: -.5rem !important;
      }
    }

    .alert-warning a {
      color: c(o, 8);
    }

    &.info-bin .alert img { border-color: #4a8deb; }
    &.info-calc .alert img { border-color: #677b3b; }
    &.info-date .alert img { border-color: #ecba3a;}
    &.info-drop .alert img  { border-color: #645e5c; }
    &.info-link .alert img { border-color: #867485; }
    &.info-memo .alert img { border-color: #677b3b; }
    &.info-pad .alert img { border-color: #4a8deb; }
    &.info-pic .alert img { border-color: #b45b6d; }
    &.info-talk .alert img { border-color: #645e5c; }
  }

  #fsb-grid {
    h2 {
      color: c(g, 6);
      border-bottom: 1px solid c(g, 5);
      background: c(g, 2);
    }

    > div:first-of-type h2 { margin-top: 0 !important; }

    ul {
      margin: 0;
    }

    li {
      min-height: 100px;
      font-size: 14px;

      .svg-icon.d-block svg {
        height: 1.27em;
        margin-bottom: 5px;
      }
    }
  }

  #fsb-feedback {
    .btn-block {
      text-align: left;
      background: #fff;
      opacity: 0.8;
      position: relative;

      &:hover {
        box-shadow: 0px 2px 6px c(g, 5);
        opacity: 0.9;
      }

      .badge {
        position: absolute;
        display: block;
        top: 0.5em;
        left: 4em;
        z-index: 1;
        padding: 0;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
      }
    }
  }

  #f-fb-menu {
    .subtitle {
      color: #fff;
      background: c(o, 7);
      text-align: center;
      padding: .5rem 1rem 1rem;
      margin:-1rem -1rem 1rem;
      font-size: 0.875rem;
    }

    #f-fb-faq,
    #f-fb-participate {
      .row {
        margin: 0;
      }
    }
  }

  footer .search-form {
    border-top: 2px solid c(o, 6);
    width: 100%;
    margin-bottom: 0; /* ~forms */
    padding-bottom: .5rem; /* avoid scrollbar */
    background: c(d, 1);

    .input-group {
      margin-bottom: 0; /* ~listes */
    }

    input {
      border-radius: 0;
      border: none;
    }
    .btn-light {
      background: #fff;
      border: none;
    }
  }
}
