[data-url*=".framaboard.org/"],
[data-url*=".localhost"] {
  background: #fff !important;

  body {
    background: #fff !important;
  }

  /* Button color from Framacss */
  a.btn-red,
  .btn-red {  /* = btn-danger */
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    background-color: c(r, 8);
    border-color: c(r, 8);

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken(c(r, 8), 7.5%);
      border-color: darken(c(r, 8), 7.5%);
    }
  }

  a.btn-blue, /* = btn-primary */
  .btn-blue {
    color: #fff;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
    background-color: c(f, 7);
    border-color: c(f, 7);

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken(c(f, 7), 7.5%);
      border-color: darken(c(f, 7), 7.5%);
    }

    &:disabled {
      color: #777;
      text-shadow: none;
      border: 1px solid #ccc;
      background: #f7f7f7;
    }
  }

  a:focus {
    border: none;
  }

  #ui-datepicker-div {
    z-index: 1002 !important; /* Above the nav */
  }

  #modal-box {
    max-height: calc(100% - 65px);
    top: 60px;
  }
}
