/* Cartes publiques
[data-url*="://framacarte.org/"][data-inframe="false"] .map_detail {
  .leaflet-top {
    top: 42px;
  }

  #umap-alert-container {
    top: 42px;
  }

  #umap-tooltip-container {
    top: 102px;
  }
} */

/* Cartes mode édition
[data-url*="://framacarte.org/"][data-inframe="false"] .umap-edit-enabled {
  .umap-main-edit-toolbox {
    top:42px;
  }

  .leaflet-top {
    top: 90px;
  }

  #umap-ui-container {
    top: 88px;
  }
} */
