[data-url*="://framacolibri.org"] {
  #reply-control.fullscreen {
    z-index: 1005;
  }

  #discourse-modal.in {
    display: block !important;
    visibility: visible !important;
  }

  #draft-status {
    height: 25px;
  }

  .modal.hidden[style*="block"] {
    display: block !important;
  }

  #main .container {
    width: auto;
    padding-left:30px;
    padding-right:30px;
  }

  /* #main .row {
    margin:inherit !important;
  }*/

  body {
    background-color: c(g, 3);
    font-size: 0.938rem;
  }

  #main-outlet {
    background-color: #FFF;
    -webkit-box-shadow: $ombre;
    -moz-box-shadow: $ombre;
    box-shadow: $ombre;
  }

  #reply-control {
    background-color: c(m, 2);
  }

  .category .bullet,
  .main-link a,
  .topic-stats a,
  .category-navigation a,
  .num a,
  .menu-panel a,
  .topic-meta-data a,
  .category-breadcrumb a{
    text-decoration:none;
  }

  .select-kit-body[style]{
    left: auto !important;
  }
}
