[data-url*="://framadate.org"],
[data-url*="://old.framadate.org"],
[data-url*="://test.framadate.org"] {
  #message-container .well {
    display: none;
  }

  .container.ombre h2::after {
    content: none;
  }
}
