#f--[data-url*="://framadrop.org/lufi"] {
  font-size: 14.5px ;

  body > .container {
    background: #fff;
    padding: .25rem 1.5rem;
    box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.2);
    margin: 1rem auto;
  }

  #fp-alert-deframa {
    .alert {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  }

  .card.pink a {
    text-decoration: underline;
    color: #fff;  
  }
}
