[data-url*="://framaforms.org"] {
  background: #e2e8f0 !important;

  #admin-menu {
    z-index: 1003;
  }

  @import '~vue-fs-commons/app/assets/scss/frama/bootstrap3/buttons.scss';

  .front .btn-lg { margin: 5px; }

  #page-wrapper ~ #page-wrapper,
  .main-container ~ .main-container { /* Error double template */
    display: none;
  }
  .page-node-webform-results:not(.webform-analysis-table) #block-system-main table th:nth-of-type(4),
  .page-node-webform-results:not(.webform-analysis-table) #block-system-main table td:nth-of-type(4) {
    display: table-cell;
  }

  #main {
    -webkit-box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.2);
    -moz-box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.2);
    box-shadow: 0px 3px 4px rgba(50, 50, 50, 0.2);
  }
  
  body, #page-wrapper,
  #page, #main-wrapper {
    background: #e2e8f0 !important;
  }

  .front #page-title.title {
    color: #4a5568;
    font-size: 2.2rem;
    margin-bottom: none;
    padding-top: 1rem;
  }

  .front .trait:nth-of-type(1) {
    margin-top: 30px;
  }

  .front #content .section:first-of-type {
    padding: 0;
  }

  @media (min-width:768px) {
    .not-logged-in #highlighted {

      .block:first-of-type {
        width: 60%;
        float: left;
      }

      .block:first-of-type .content {
        margin-top: 0;
      }

      .block:last-of-type {
        width: 40%;
        float: left;
      }

      &::after {
        content: "";
        clear: both;
        display: table;
      }
    }
  }

  #highlighted {
    border-bottom: 11px solid #edf2f7;
  }

  #footer-wrapper {
    color: #4a5568;
    background: #e2e8f0;
  }

  #footer {
    border: none;
    padding-bottom: 30px;
  }

  .carousel {
    background: #edf2f7;
    margin: 30px 0 30px;
   
    img {
      margin: 15px 0 0;
      width: 100%;
      max-height: 350px;
    }

    @media (max-width:512px) {
      img {
        display: none !important;
      }
    }

    .carousel-control {
      opacity: 1;
    }

    .right {
      background: linear-gradient(to left, #edf2f7 18%, transparent 18%);
    }

    .left {
      background: linear-gradient(to right, #edf2f7 18%, transparent 18%);
    }

    .glyphicon { 
      color: #fff;
      background: #677890; 
      border-radius:50%;
      font-size: 1.3rem;
      width: 2rem;
      height: 2rem;
      padding: 5px;
      text-shadow: none; 
    }

    .glyphicon-chevron-right {
      right: -7%;
    }

    .glyphicon-chevron-left {
      left: -7%;
    }
  }
    
  .carousel-caption {
    background: #edf2f7;
    padding-top:15px;
    padding-bottom: 15px;
    position: relative;
    height: 100%;
    text-shadow: none;
    border: none;
    left: auto;
    right: auto;
    bottom: auto;

    * {
      background: #edf2f7 !important;;
      color: #4a5568 !important;
      max-width: 600px;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
    }
    
    h1 {
      font-size: 24px;
    }

    p:last-of-type { /* Hide « En savoir plus » */
      display:none;
    }
  }

  .carousel-indicators { display: none; }

  .carousel-inner {
    box-shadow: 0px 2px 3px rgba(50, 50, 50, 0.4);
    padding-bottom: 0;
  }

  .trait + .row * {
    box-sizing: border-box;
  }

  .front #content h2 {
    color: #4a5568;
    font-size: 1.8rem;
  }

  #tuto-faq,
  #le-logiciel,
  #jardin {
    p {
      color: #1f1f1f;
      font-size: 14px;
      line-height: 1.5 !important;
      margin-top: 1em;
    }

    li {
      color: #1f1f1f;
      font-size: 14px;
    }

    p > .glyphicon {
      font-size:42px;
      color: #677890;
    }

    .text-center:last-of-type {
      text-align: left;
    }

    a {
      color: #1f1f1f;
      text-decoration: none;
      border-bottom: 2px solid #a0aec0;
    }

    a:hover, a:focus {
      color: #1a202c;
      text-decoration: none;
      border-color: #a87ede;
    }

    a.btn {
      color: #fff;
      border: none;
    }
  }

  .front.not-logged-in .tabs,
  .carousel-control + br,
  #jardin p:nth-of-type(3)  {
    display: none;
  }

  .front .col-md-4 {
    width: 100% !important;
  }

  @media (min-width: 768px) {
    .front .col-md-4 {
      width: 33.33333333% !important;
      float: left;
    }
  }

  @media (max-width: 1024px) {
    #main { 
      margin-top: 0;
      box-shadow: none !important;
      padding-top: 40px; /* default padding-top: 20px + margin-top: 20px */
    }
  }

  &[data-inframe="true"] {
    #highlighted,
    #footer-wrapper .content  {
      display:none;
    }

    #footer-wrapper h2 {
      font-size: 14px;
      font-weight: normal;
      font-style: italic;
      text-align: right;
    }

    #footer-wrapper .region-footer {
      margin: 0;
    }

    #main {
      margin-top: 0;
      margin-bottom: 0;
      box-shadow: none;
    }

    #page,
    #page-wrapper,
    #main-wrapper,
    #footer-wrapper {
      background: #fff !important;
    }
  }
}