[data-url^="http://localhost"],
[data-url*=".frama.io/framanav/"] {
  body {
    margin: 0;
  }
}

[data-url^="http://localhost"] {
  body {
    background: c(r, 2);
  }
}

[data-url^="http://localhost"][data-inframe="true"] {
  body {
    background: c(b, 2);
  }
}

[data-url^="http://localhost"][data-url$="home.html"] {
  body {
    background: c(g, 3);
  }
}
