[data-url*="://framaestro.org/p"] {
  body, main.container-fluid {
    background: c(g, 3);
  }

  #header .navbar-nav :not(.btn-success) a,
  #btnIRC, #btnGrid {
    color: c(g, 6);

    &:hover, &:focus {
      color: c(g, 7);
    }
  }
}
