[data-url*=".framapad.org/p/"] {
  #editorloadingbox {
    background: c(g, 3) !important;
    height: 100%;

    #loading {
      max-width: 900px;
      margin: 0 auto;
      font-size: 1.5rem;
      color: c(g, 6);
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  #editorcontainer, #padmain, #toc {
    background: transparent !important;
  }

  #toc[style*="block"] {
    background: c(g, 2) !important;
  }
}

[data-url*=".framapad.org/p/"][data-inframe="false"] {
  *, *:before, *:after {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
  }

  .toolbar ul li select {
    height:20px !important;
  }

  #helpbubbleslink > .buttonicon {
    font-size: 18px !important;
  }

  .toolbar ul li a .buttonicon {
    top: -2px !important;
  }

  .popup label {
    margin-bottom:0px;
    font-weight:normal;
  }

  .popup input[type="text"] {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }

  .popup h1, .popup h2 {
    margin-top:0px;
    margin-bottom:0px;
  }

}

[data-url*=".framapad.org/p/"] {
  /* Hide .doc export (bug avec libreoffice de Stretch) */
  #exportworda {
    display: none;
  }

  .fa-video-camera:before {
    font-family: ForkAwesome !important;
  }
}

[data-url*="mypads.framapad.org/mypads/"],
[data-url*="mypads2.framapad.org/mypads/"] {
  background: #fff !important;

  .container-fluid.ombre {
    box-shadow: none;
    padding-bottom: 15px;
  }

  button.btn-link[title] {
    background: transparent;
  }
}

@media (max-width:600px) {
  html[data-url*=".framapad.org/p/"] {
    overflow: initial;
  }
}
