[data-url*="://framateam.org"] {
  &#f-- .f-bs4 {
    color: c(d, 9);

    .lead { font-size: 21px;}

    .trait {
      height: 11px;
      border: none;
    }

    .btn-success {
      color: #fff !important;
    }
  }

  #f-modal-publicList .btn.disabled {
    display: none;
  }
  /************************* *
   * En dehors de Mattermost *
   * *********************** */
  .outMM {

    background: c(g, 3) !important;

    #root {
        padding-left: 30px;
        padding-right: 30px;
    }

    .f-team {
      display: block;
    }

     h1 {
      font-family: "DejaVu Sans",Verdana,Geneva,sans-serif !important;
      font-size: 48px;
      font-weight: bold;
    }

    .lead { font-style: italic; }

    #root.container-fluid {
      /* = .container.ombre */
      margin-top: 0px;
      margin-bottom: 0px;
      padding: 20px 30px;
      /* = .ombre */
      background-color: #FFF;
      box-shadow: $ombre;
      /* = replace Mattermost style */
      height: auto !important;
      /* = .container de BS */
      margin-right: auto;
      margin-left: auto;
      @media (min-width: 768px) {
        width: 750px;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      @media (min-width: 992px) {
        width: 970px;
      }
      @media (min-width: 1200px) {
        width: 1170px;
      }
      &[style] {
        margin-top: 72px !important;
      }
    }

    img.ombre {
      box-shadow: $img-ombre;
      margin: 10px;
      padding: 0px;
      width: 80%;
    }

    #f-team-carousel.carousel {
      margin: 1em 0 2em;
    }

    #f-team-carousel .carousel-caption h3 {
      font-size: 1.25rem;
    }

    #fp-team-screen  .play-pause {
      margin-top: -125px;
    }

    #login_section.col-sm-12 {
      float: none; /* prevent fp-team-prez layer to be over #login_section */
    }

    /* Fix Mattermost */
    .btn {
      border-radius: 4px;
      -moz-transition: none;
      -o-transition: none;
      -webkit-transition: none;
      transition: none;
    }

    .signup-team__container {
      padding: 0px;
      max-width: auto;

      .btn {
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        font-weight: normal;
        margin-right: 0px;
        margin-bottom: 10px;
      }

      .btn.btn--full {
        max-width: 350px
      }
    }

    .signup-team__container .btn-custom-login.email,
    .btn-primary {
      color: #fff !important;
      background-color: c(f, 7) !important;
      border-color: c(f, 7) !important;

      &:hover,
      &:focus,
      &:active {
        color: #fff !important;
        background-color: #5f497c !important;
        border-color: #5f497c !important;
      }
    }

    .signup-team__container .btn-custom-login.gitlab {
      color: #fff !important;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
      background-color: c(b, 7) !important;
      border-color: c(b, 7) !important;

      &:hover,
      &:focus,
      &:active {
        color: #fff !important;
        background-color: #225365 !important;
        border-color: #225365 !important;
      }
    }

    &#ct-login {
      .signup__email-container {
        padding-bottom: 0;
      }
    }

    &#ct-login .signup__email-container,
    &#ct-signup_user_complete .signup-team__container .inner__content { /* = .well */
      min-height: 20px;
      padding: 19px;
      margin-bottom: 20px;
      background-color: c(g, 2);
      border: 1px solid #dee2e6;
      border-radius: 4px;
    }

    .text-center {
      text-align: center;
    }
  }

  #ListModal {
    .btn-default {
      color: c(d, 9);
      background-color: #fff;
      border-color: c(g, 4);

      &:hover,
      &:focus,
      &:active {
        color: c(d, 9);
        background-color: c(g, 1);
        border-color: c(g, 5);
      }
    }

    .modal-header {
      background-color: #fff;
    }

    button.close {
      color: c(d, 9);
      background: #fff !important;
    }
  }

  /* Cleaning */
  .signup-header,         /* Bandeau Déconnexion / Accueil / Page précédente */
  .signup-team-logo,      /* Logo Mattermost */
  .signup-team__container h1,   /* Titre Framateam */
  .signup-team__container h4:nth-child(2),
  .signup-team__container h4:nth-child(3), /* Sous-titre */
  .row.footer {          /* Footer Mattermost */
    display: none;
  }

  /* .outMM .signup-team__container .btn.btn-custom-login > span {
    top: 4px !important;
  } */

  /* Trop de ménage ? */
  .outMM form .margin--extra,
  #ListModalLabel {
    display: block;
  }

  #ct-signup_user_complete .gitlab,
  #ct-login .gitlab {
    background: none !important;
    color: c(g, 6) !important;
    text-shadow: none;
    width: 100%;
    border: none;

    &:hover,
    &:focus {
      color: c(g, 7) !important;
      text-decoration: underline !important;
    }

    .icon {
      filter: invert(70%) sepia(15%) saturate(1099%) hue-rotate(190deg) brightness(109%) contrast(91%);

      &:hover,
      &:focus {
        filter: invert(70%) sepia(15%) saturate(1099%) hue-rotate(190deg) brightness(89%) contrast(91%);
      }
    }
  }

  #ct-login #login_forgot {
    display: block;
    float: right;
    margin-top: 7px;
  }

  #fp-team-public, #fp-team-prez, #fp-team-screen,
  #ct-login .col-md-5.h1:nth-of-type(1) .btn-success {
    display: none;
  }

  #ct-select_team #fp-team-public,
  #ct-login #fp-team-prez,
  #ct-login #fp-team-screen {
    display: block;
  }

  #f-modal-publicList {
    .modal-header {
      background: #fff;
    }

    .close {
      width: auto;
    }
  }
  /*******************
   * Dans Mattermost *
   *******************/
  .inMM {
    overflow: hidden;
    /* padding-top: 62px; */
    background: inherit;

    .f-team,
    #fp-team-screen {
      display: none;
    }

    .sidebar--left .dropdown-menu {
      width: 250px !important;
      max-width: 250px;
      left: 180px;
    }

    .navbar-right .dropdown-menu { right: -100px; }

    #editStatusMenu {
      left:auto;
    }

    .admin-sidebar .team__header .team__name,
    .admin-sidebar .team__header .user__name,
    .sidebar--left .team__header .team__name,
    .sidebar--left .team__header .user__name,
    .sidebar--menu .team__header .team__name,
    .sidebar--menu .team__header .user__name {
      color: inherit;
    }

      .sidebar__search-icon {
      top: 8px;
      right: 8px;
    }


    .gfycat-search {
      .search-input {
        font-size: 1rem;
      }

      .ic-search, .ic-clear-search {
        top: 7px;
        left: 7px;
        width: 2rem;
        height: 2rem;
      }
    }

    /* Gif toggle visibility */
    .post .post__embed-visibility[data-expanded="true"]::before {
      content: '\f070';
    }

    .post .post__embed-visibility::before {
      content: '\f06e';
    }

    .post .post__embed-visibility {
      border-style: solid;
      border-width: 1px;
      padding: 2px 4px 2px 3px;
      top: -2px;
      border-radius: 3px;
      opacity: 0.9;
    }

    .post .post__embed-visibility {
      border-color: #ffffffaa;
      color: #ffffff;
      text-shadow: 0 0 1px #000000;
      background: #333333dd;
    }

    .post .post__embed-visibility:hover,
    .post .post__embed-visibility:focus{
      opacity: 1;
    }
  }

  /***************** *
   * Partout
   * *************** */
  .announcement-bar.announcement-bar-advisor,
  #channel_view .system-notice,
  .error-bar { 
    display:none;
  }
  
  .announcement-bar--fixed {
    padding: 0;
  }

  body.announcement-bar--fixed .admin-sidebar {
    top: 0;
  }

  body.announcement-bar--fixed .sidebar--right {
    height: 100%;
    top: 0px;
  }

  @media (min-width: 768px) {
    body.announcement-bar--fixed .sidebar--right {
      top: 63px;
    }
  }

  /* Modale exceptionnelle */
  .app__body #modal-finfo {
    .modal-header,
    .modal-body,
    .modal-footer {
      background: #fff;
    }

    .modal-body {
      color: c(d, 9);

      a {
        color: c(b, 7);

        &:hover,
        &:focus,
        &:active {
          color: c(f, 7);
        }
      }
    }

    .btn-default {
      color: c(d, 9);
      background-color: #fff;
      border-color: c(g, 4);

      &:hover,
      &:focus,
      &:active {
        color: c(d, 9);
        background-color: c(g, 1);
        border-color: c(g, 5);
      }
    }

    .btn-primary {
      color: #fff;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
      background-color: c(f, 7);
      border-color: c(f, 7);

      &:hover,
      &:focus,
      &:active {
        color: #fff;
        background-color: #5f497c;
        border-color: #5f497c;
      }
    }
  }
}

[data-url*="framateam.org/select_team"] {
  .outMM .signup-team__container .signup__content:nth-child(5),
  #ct-select_team .margin--extra,
  #ct-select_team .signup__content > h4 {
    display: none;
  }
}

[data-url*="framateam.org/signup_user_complete"] {
  .outMM .signup-team__container .or__container,
  .outMM .signup-team__container > span.color--light,
  .outMM .signup-team__container > p {
    display: none;
  }
}

[data-url*="framateam.org/login"] {
  .outMM#ct-login .signup__content > div > .form-group, /* Pas de compte ? */
  .outMM .signup__content .or__container,
  .signup-team__container h5 {
    display: none;
  }
}
