[data-url*="://framavox.org"] {
  /* Fix Loomio */
  #app {
    background: c(g, 1);

    /* .v-application--wrap > nav {
      padding-top: 42px;
    }

    .v-application--wrap > header {
      top: 42px;
    }

    .v-application--wrap > main .v-content__wrap {
      padding-top: 64px;
    }

    .thread-sidebar[style] {
      top: 106px !important;
      max-height: calc(100% - 106px) !important;
    }*/
  }

  .sidenav-left a[href="/contact"] { // contact form is broken
    display: none;
  }

  /* Homepage */
  &#f-- {
    background: c(g, 3);
  }

  #fp-vox {
    color: c(d, 9);

    .lead { font-size: 21px;}

    .trait {
      height: 11px;
      border: none;
    }
  }

  /* Toggle visibility */
  .logged-out {
    #fp-vox[style] {
      display: block !important;
    }

    #app {
      display: none;
    }
  }

  .home-hidden {
    #fp-vox[style] {
      display: none !important;
    }

    #app {
      display : block;
    }
  }
}
