<template>
  <section id="f-fb-faq">
    <!-- Spinner -->
    <div
      v-if="!state.faq"
      class="text-center mb-3"
    >
      <b-spinner
        v-for="n in 3"
        :key="n"
        type="grow"
        variant="warning"
        :label="n === 1 ? $t('Loading…') : ''"
        class="mx-1"
      />
    </div>

    <!-- Answers -->
    <div
      v-else
      :class="`${
        /^all$/.test(state.toggle) ? 'all' : ''
      } ${
        search !== '' ? 'filter' : 'nofilter'
      }`"
    >
      <div
        v-if="this.$te(`txt.${this.$t('site')}`)"
        class="subtitle"
        v-html="`${$t('feedback.faq')} <b>${$t(`txt.${$t('site')}`)}</b>`"
      ></div>
      <div
        v-else
        class="subtitle"
        v-html="$t('feedback.mainFaq')"
      ></div>

      <!-- Reminders ~date/~forms -->
      <b-card
        v-if="/(date|forms)/.test($t('site'))"
        id="f-fb-reminder"
        no-body
        class="bg-light mb-4"
      >
        <b-card-body
          v-html="$t(`reminder.${$t('site')}`)"
        />
      </b-card>

      <b-list-group>
        <b-list-group-item
          v-for="(item, index) in faq"
          :key="index"
          :active="state.toggle === item.id"
          :variant="item.variant"
        >
          <a
            v-show="state.toggle === item.id"
            href="#!"
            class="pull-right close"
            aria-hidden="true"
            onclick="return false"
            @click.prevent.stop="toggleAnswer(item.id)"
          >×</a>
          <a
            :id="item.id"
            :href="`${$t('link.contact')}/faq/#${item.id}`"
            class="toggle"
            onclick="return false"
            @click.prevent.stop="toggleAnswer(item.id)"
          ></a>
          <h3
            class="list-group-item-heading"
            @click="toggleAnswer(item.id)"
            v-html="item.question"
          ></h3>
          <div
            class="list-group-item-text"
            v-html="item.answer"
          ></div>
          <p class="text-center mb-0">
            <b-button
              v-show="state.toggle === item.id"
              variant="light"
              size="sm"
              @click="toggleAnswer(item.id)"
              v-text="$t('txt.close')"
            />
          </p>
        </b-list-group-item>
      </b-list-group>
      <p
        v-if="!state.mainFaq && state.faq && state.toggle === 'all'"
        class="mb-0 mt-3"
      >
        <b-button
          block
          variant="outline-warning text-center"
          @click="addMainFaq()"
          v-html="$t('feedback.more')"
        />
      </p>
    </div>

    <!-- No answer ? -->
    <div
      v-show="state.toggle === 'all'"
      class="no-answer"
    >
      <p
        v-show="state.faq"
        v-html="$t('feedback.noanswer')"
      ></p>
      <div v-html="$t('feedback.help.next')"></div>
      <b-row>
        <b-col sm="6">
          <a
            :href="`${$t('link.contact')}/#${$t('lname')}`"
            class="btn btn-block"
            onclick="return false;"
            @click.prevent.stop="showContact()"
          >
            <svg-icon
              :label="`${$t('feedback.contact')} ${$t('color.soft')}`"
              name="envelope"
              size="lg"
              variant="fb-o7 disc fc-light d-block mx-auto"
            />
          </a>
        </b-col>
        <b-col sm="6">
          <a
            :href="$t('link.colibri')"
            class="btn btn-block"
          >
            <svg-icon
              :label="$t('feedback.forum')"
              name="comment"
              size="lg"
              variant="fb-o7 disc fc-light d-block mx-auto"
            />
          </a>
        </b-col>
      </b-row>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    open: {
      type: Boolean,
      required: true,
      default: false,
    },
    search: {
      type: String,
      default: '',
    },
    status: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      general: !(Object.keys(this.$t('txt')).indexOf(this.$t('site')) > -1),
      mainFaq: [],
      faq: [],
      state: {
        mainFaq: false,
        faq: false,
        toggle: 'all',
      },
    };
  },
  watch: {
    open(newValue) {
      if (newValue) {
        this.loadFaq();
      }
    },
    search(newValue) {
      if (newValue !== '') {
        this.searchUpdate();
      }
    },
  },
  methods: {
    loadFaq() {
      if (!this.state.faq) {
        fetch(`${this.$t('baseurl')}faq/${this.$t('lang')}/index.html`)
          .then(res => res.text())
          .then((data) => {
            const parser = new DOMParser();
            let html = null;

            /* Main Faq */
            html = parser.parseFromString(data, 'text/html').querySelector('#autre');
            if (html) {
              for (let i = 1; i < html.children.length; i += 1) {
                // .list-group-item only (first node is h2)
                this.mainFaq[i - 1] = {
                  id: html.children[i].querySelector('a.toggle').hash.replace('#', ''),
                  question: html.children[i].querySelector('h3 span:last-of-type').innerHTML,
                  answer: html.children[i].querySelector('.list-group-item-text > div').innerHTML,
                  variant: '',
                };
              }
            }

            /* Site Faq */
            if (!this.general) {
              html = parser.parseFromString(data, 'text/html').querySelector(`#${this.$t(`txt.${this.$t('site')}`, '-L@')}`);
              if (html) {
                for (let i = 1; i < html.children.length; i += 1) {
                  // .list-group-item only (first node is h2)
                  this.faq[i - 1] = {
                    id: html.children[i].querySelector('a.toggle').hash.replace('#', ''),
                    question: html.children[i].querySelector('h3 span:last-of-type').innerHTML,
                    answer: html.children[i].querySelector('.list-group-item-text > div').innerHTML,
                    variant: '',
                  };
                }
              }
            }
            if (this.faq.length === 0) {
              this.faq = this.mainFaq;
              this.state.mainFaq = true;
            }
            if (this.status.length > 0) {
              this.faq = this.status.concat(this.faq);
            }
            this.state.faq = true;
          })
          .catch(err => console.error(err)); // eslint-disable-line
      }
    },

    toggleAnswer(id) {
      this.state.toggle = ['all', id][+(this.state.toggle === 'all')];
      this.$emit('scrolltop');
    },

    showContact() {
      this.$emit('scrolltop');
      this.$emit('goToContact');
    },

    addMainFaq() {
      this.faq = this.faq.concat(this.mainFaq);
      this.state.mainFaq = true;
    },

    searchUpdate() {
      const words = this.$t(this.search.replace(/\+ ?/, '_'), '-kLl@').split('_');
      const reg = new RegExp(`(${words.join('|')})`, 'g');

      if (!this.state.mainFaq) { /* search = more results */
        this.addMainFaq();
      }
      this.state.toggle = 'all';

      for (let i = 1; i < this.faq.length; i += 1) {
        const content = this.$t(`${this.faq[i].question} ${this.faq[i].answer}`, '-kLl@');
        if (reg.test(content)) {
          this.faq[i].variant = `${this.faq[i].variant.replace(/search/g, '')} search`;
        } else {
          this.faq[i].variant = this.faq[i].variant.replace(/search/g, '');
        }
      }
    },
  },
};
</script>
