<template>
  <section id="f-fb-participate">
    <div
      v-if="$te(`txt.${$t('site')}`)"
      class="subtitle"
      v-html="`${$t('feedback.participate.title')} <b>${$t(`txt.${$t('site')}`)}</b>`"
    ></div>

    <div v-html="$t('participate.dev', html)"></div>

    <b-row align-h="center">
      <b-col
        v-if="$te(`src.${$t('site')}`)"
        sm="6"
      >
        <a
          :href="$t(`src.${$t('site')}`)"
          class="btn btn-block"
        >
          <svg-icon
            :label="$t(`soft.${$t('site')}`)"
            name="code-branch"
            size="lg"
            variant="fb-b7 disc fc-light d-block mx-auto"
          />
        </a>
      </b-col>
      <b-col
        v-if="$te(`git.${$t('site')}`)"
        sm="6"
      >
        <a
          :href="$t(`git.${$t('site')}`)"
          class="btn btn-block"
        >
          <svg-icon
            :label="$t(`color.${$t('site')}`)"
            name="b-git"
            size="lg"
            variant="fb-b7 disc fc-light d-block mx-auto"
          />
        </a>
      </b-col>
    </b-row>

    <div v-html="$t('participate.other')"></div>
    <div v-html="$t('feedback.participate.next')"></div>
    <b-row align-h="center">
      <b-col sm="6">
        <a
          :href="`${$t('link.colibri')}/c/qualite/23/`"
          class="btn btn-block mt-3"
        >
          <svg-icon
            :label="$t('feedback.participate.forum')"
            name="comment"
            size="lg"
            variant="fb-o7 disc fc-light d-block mx-auto"
          />
        </a>
      </b-col>
    </b-row>
  </section>
</template>
<script>
export default {
  data() {
    return {
      general: !(Object.keys(this.$t('txt')).indexOf(this.$t('site')) > -1),
      faq: [],
      html: {
        git: ` <i class="fa fa-lg fa-git" aria-hidden="true"></i>
          <span class="sr-only">git</span>`,
        source: ` <i class="fa fa-lg fa-code-fork" aria-hidden="true"></i>
          <span class="sr-only">source</span>`,
        link: `${this.$t('link.contact')}#issue-git`,
      },
      state: {
        faq: false,
        toggle: 'all',
      },
    };
  },
  methods: {
    showContact() {
      this.$parent.$parent.$parent.section = 'contact-participate';
      this.$parent.$parent.$parent.$refs['f-fb-top'].scrollIntoView();
    },
  },
};
</script>
