<template>
  <div
    id="f-nav"
    class="f-bs4"
    style="display: none;"
  >
    <Nav />
  </div>
</template>

<script>
import Nav from './components/partials/Nav.vue';

export default {
  name: 'FNav',
  components: {
    Nav,
  },
  data() {
    return {
      i18n: process.env.NODE_ENV !== 'prod' ? this.$i18n.messages : '',
    };
  },
};
</script>
