<template>
  <portal
    target-el="#fp-footer"
    target-class="f-bs4"
  >
    <footer
      v-show="$t('inframe') === 'false'"
      id="f-footer"
      class="clearfix d-print-none"
      :style="state.footer"
      role="contentinfo"
    >
      <b-container>
        <b-row class="mx-2 my-0 mx-sm-0">
          <b-col md="8">
            <b-row class="my-0">
              <!-- Framasoft -->
              <nav class="col">
                <h1 v-html="$t('txt.soft')"></h1>
                <ul class="list-unstyled">
                  <li
                    v-for="key in $t('fnav.footer.frama')"
                    :key="key"
                  >
                    <div v-if="key === 'contact' && /(date|forms)/.test($t('site'))">
                      <PopoverContact from="footer" />
                    </div>
                    <div v-else>
                      <a
                        :href="!$te(`fnav.sites.${key}.link`)
                          ? $t(`link.${key}`)
                          : $t(`fnav.sites.${key}.link`)"
                        v-html="$t(`fnav.sites.${key}.name`)"
                      ></a>
                    </div>
                  </li>
                  <li v-if="is.after('2020/11/05')">
                    <a
                      href="https://framaprout.org"
                      v-html="$t('Prout', '-k')"
                    ></a>
                  </li>
                </ul>
              </nav>
              <!-- Community -->
              <nav class="col">
                <h1 v-html="$t('txt.community')"></h1>
                <ul class="list-unstyled">
                  <li>
                    <a
                      :href="$t('link.colibri')"
                      v-text="$t('txt.colibri')"
                    ></a>
                  </li>
                  <li
                    v-for="key in $t('fnav.footer.community')"
                    :key="key"
                  >
                    <a
                      :href="!$te(`fnav.sites.${key}.link`)
                        ? $t(`link.${key}`)
                        : $t(`fnav.sites.${key}.link`)"
                      v-html="$t(`fnav.sites.${key}.name`)"
                    ></a>
                  </li>
                </ul>
              </nav>
              <!-- Framastuff -->
              <nav class="col">
                <h1
                  v-html="$te(`txt.${$t('site')}`)
                    ? $t(`txt.${$t('site')}`)
                    : $t('Site')"
                ></h1>
                <ul class="list-unstyled">
                  <li
                    v-for="key in $t('fnav.footer.site')"
                    :key="key"
                  >
                    <a
                      v-if="key === 'aide'"
                      :href="$te(`txt.${$t('site')}`)
                        ? $t(`fnav.sites.${key}.link`)
                          .replace(/#(aide|help)$/, `#${$t(`txt.${$t('site')}`, '-lL@')}`)
                        : $t(`fnav.sites.${key}.link`)"
                      @click.prevent.stop="toggleFramaSidebar()"
                      v-html="$t(`fnav.sites.${key}.name`)"
                    ></a>
                    <a
                      v-else-if="key === 'credits' && $te(`txt.${$t('site')}`)"
                      :href="$t(`fnav.sites.${key}.link`)
                        .replace(/$/, `/#${$t('site')}`)"
                      v-html="$t(`fnav.sites.${key}.name`)"
                    ></a>
                    <a
                      v-else-if="key === 'doc'
                        && $te(`doc.${$t('site')}[${+($t('lang') === 'en')}]`)"
                      :href="$t(`fnav.sites.${key}.link`)
                        .replace(/$/, `/${$t(`doc.${$t('site')}[${+($t('lang') === 'en')}]`)}`)"
                      v-html="$t(`fnav.sites.${key}.name`)"
                    ></a>
                    <a
                      v-else
                      :href="!$te(`fnav.sites.${key}.link`)
                        ? $t(`link.${key}`)
                        : $t(`fnav.sites.${key}.link`)"
                      v-html="$t(`fnav.sites.${key}.name`)"
                    ></a>
                  </li>
                </ul>
              </nav>
            </b-row>
          </b-col>
          <b-col md="4">
            <h1 v-html="$t('fnav.cat.follow.name')"></h1>
            <ul class="list-inline">
              <li
                v-for="key in $t('fnav.footer.follow').filter(k => !/^news-/.test(k))"
                :key="key"
                v-b-popover:f-footer.top.hover.focus.html="$t(`fnav.sites.${key}.d1`)"
                :class="`list-inline-item fs_${key}`"
                :title="$t(`fnav.sites.${key}.t1`, '-t')"
              >
                <a
                  :href="!$te(`fnav.sites.${key}.link`)
                    ? $t(`link.${key}`)
                    : $t(`fnav.sites.${key}.link`)"
                >
                  <svg-icon
                    :label="!$te(`fnav.sites.${key}.name`)
                      ? $t(`txt.${key}`)
                      : $t(`fnav.sites.${key}.name`, '-t')"
                    :name="$t(`svg.${key}`)"
                    size="2x fw"
                    sr-only
                    variant="fc-g8"
                  />
                </a>
              </li>
            </ul>
            <h2 v-html="$t('fnav.sites.newsletter.name')"></h2>
            <form
              action="https://contact.framasoft.org/php_list/lists/?p=subscribe&amp;id=2"
              method="post"
              name="subscribeform"
            >
              <label
                for="f-nl-email"
                class="sr-only"
                v-html="$t('txt.yourEmail')"
              ></label>
              <b-input-group
                size="sm"
                class="mb-3"
              >
                <b-form-input
                  id="f-nl-email"
                  name="email"
                  type="email"
                  size="40"
                  :title="$t('txt.typeYourEmail')"
                  :placeholder="$t('txt.yourEmail')"
                />
                <b-input-group-append>
                  <b-button
                    variant="dark"
                    name="subscribe"
                    type="submit"
                    value="subscribe"
                  >
                    <svg-icon
                      :label="$t('txt.subscribe')"
                      name="bell"
                      variant="fc-g2"
                    />
                    <span
                      class="sr-only"
                      v-html="$t('txt.toTheNewsletter')"
                    ></span>
                  </b-button>
                </b-input-group-append>
              </b-input-group>
              <input
                name="htmlemail"
                value="1"
                type="hidden"
              />
              <input
                name="list[5]"
                value="signup"
                type="hidden"
              />
              <input
                name="listname[5]"
                value="Newsletter"
                type="hidden"
              />
              <div style="display: none;">
                <input
                  aria-hidden="true"
                  name="VerificationCodeX"
                  size="20"
                  value=""
                  type="text"
                />
              </div>
            </form>
          </b-col>
        </b-row>
      </b-container>
    </footer>
  </portal>
</template>

<script>
import PopoverContact from './PopoverContact.vue';

export default {
  components: {
    PopoverContact,
  },

  data() {
    return {
      state: {
        footer: 'position: relative',
      },
    };
  },

  created() {
    if (!window.vuefsPrerender) {
      document.querySelector('body')
        .insertAdjacentHTML('beforeend', '<div id="fp-footer" style="display: none"></div>');
    }
  },

  mounted() {
    // Footer position refresh on events
    window.addEventListener('click', this.footerPosition);
    window.addEventListener('load', this.footerPosition);
    window.addEventListener('resize', this.footerPosition);
    window.addEventListener('scroll', this.footerPosition);
  },

  methods: {
    footerPosition() {
      this.state.footer = (document.body.scrollHeight < window.innerHeight)
        ? 'position: absolute'
        : 'position: relative';
      setTimeout(() => { // au cas où une animation redimentionne le body
        this.state.footer = (document.body.scrollHeight < window.innerHeight)
          ? 'position: absolute'
          : 'position: relative';
      }, 800);
    },
  },
};
</script>
