<template>
  <a
    :id="`f-${from}-contact`"
    :class="from === 'header' ? 'dropdown-item' : ''"
    :href="$t('link.contact')"
    onclick="return false"
    @click.stop.prevent="$refs[`f-${from}-contact-popover`].$emit('open')"
  >
    <svg-icon
      v-if="from === 'header'"
      :name="$t('svg.contact')"
      size="lg fw"
      :target="from === 'header' ? '_blank' : '_self'"
    />
    <span v-html="$t('fnav.sites.contact.name')"></span>
    <svg-icon
      v-if="from === 'header'"
      :label="`(${$t('txt.newWindow')})`"
      name="external-link-alt"
      sr-only
      variant="new-window"
    />

    <b-popover
      :ref="`f-${from}-contact-popover`"
      :target="`f-${from}-contact`"
      :title="$t('reminder.title')"
      triggers="click"
      :placement="from === 'header' ? 'leftbottom' : 'top'"
      :container="`f-${from}`"
    >
      <b-row>
        <b-col v-html="$t(`reminder.${$t('site')}`)" />
      </b-row>
      <b-row class="border-top mx-0">
        <b-col
          cols="12"
          class="px-0 py-2"
        >
          <p
            class="m-0"
            v-html="$t(`reminder.label`)"
          ></p>
          <img
            alt=""
            aria-hidden="true"
            class="position-absolute"
            :src="from === 'header'
              ? 'https://framaclic.org/h/9LBR9b5HoPZ'
              : 'https://framaclic.org/h/9NSuEn8Dn4E'"
          />
        </b-col>
        <b-col
          cols="6"
          class="p-0 pr-1"
        >
          <b-button
            variant="outline-light text-secondary border"
            size="sm"
            block
            :href="$t('link.contact')"
            v-html="$t('reminder.btn.soft')"
          />
        </b-col>
        <b-col
          cols="6"
          class="p-0 pl-1"
        >
          <b-button
            variant="outline-light text-secondary border"
            size="sm"
            block
            href="#"
            @click="$refs[`f-${from}-contact-popover`].$emit('close')"
            v-html="$t(`reminder.btn.${$t('site')}`)"
          />
        </b-col>
      </b-row>
    </b-popover>
  </a>
</template>

<script>
export default {
  props: {
    from: {
      type: String,
      required: true,
    },
  },
};
</script>
