<template>
  <section
    id="fsb-info"
    :class="`pb-4 px-2 info-${site}`"
  >
    <b-button
      variant=" pl-0 text-uppercase mb-2"
      @click="goBack()"
    >
      <svg-icon
        :label="$t('txt.back')"
        name="chevron-left"
      />
    </b-button>

    <h2 class="text-center">
      <a
        :href="!$te(`fnav.sites.${site}.link`)
          ? $t(`link.${site}`)
          : $t(`fnav.sites.${site}.link`)"
      >
        <img
          v-if="$te(`svg.${site}`)"
          alt=""
          class="d-block mx-auto mb-2"
          :src="`${$t('baseurl')}img/icons/ati/sites/${site}.${
            /(evl|vvl)/.test(site) ? 'png' : 'svg'
          }`"
        />
        <p
          v-html="!$te(`fnav.sites.${site}.name`)
            ? $t(`color.${site}`)
            : $t(`fnav.sites.${site}.name`)"
        ></p>
      </a>
    </h2>
    <p v-html="$t(`fnav.sites.${site}.d1`)"></p>
    <p
      v-if="hasScreen()"
      class="text-center"
    >
      <img
        alt=""
        class="img-fluid"
        :src="`${$t('baseurl')}img/screens/${site}.png`"
      />
    </p>
    <p v-if="$te(`src.${site}`)">
      Service basé sur
      <a
        :href="$t(`src.${site}`)"
        v-text="$t(`soft.${site}`)"
      ></a>
    </p>
    <b-alert
      v-if="/(bin|calc|date|drop|link|memo|pad|pic|talk)/.test(site)"
      show
      variant=" fb-g3 mb-0 mt-4 p-2 d-flex align-items-center border-0"
    >
      <a
        :href="$t('link.entraide')"
        aria-hidden="true"
      >
        <img
          :src="`${$t('baseurl')}img/icons/chatons/${site}.svg`"
          alt=""
          class="rounded-circle ml-1 mr-3"
          style="width: 70px; height: 70px; min-width: 70px;"
        />
      </a>
      <p
        class="mb-0 py-2"
        v-html="$t('entraide')"
      ></p>
    </b-alert>
    <b-alert
      v-if="Object.keys($t('deframa')).includes(site)"
      show
      variant="warning mb-0 mt-4 p-2 d-flex align-items-center border-0"
    >
      <p
        class="mb-0"
        v-html="$t('deframa.alert2', {
          service: $t(`color.${site}`),
          date: date($t(`deframa.${site}[1]`)),
          link: `https://alt.framasoft.org/fr/${$t(`txt.${site}`, '-l')}`
        })"
      ></p>
    </b-alert>
  </section>
</template>

<script>
export default {
  props: {
    site: {
      type: String,
      required: true,
    },
  },

  methods: {
    date(date) {
      return new Date(date).toLocaleDateString(this.$t('lang'), {
        weekday: 'long',
        year: 'numeric',
        month: 'long',
        day: 'numeric',
      });
    },

    goBack() {
      this.$emit('goBack');
    },

    hasScreen() {
      return [
        'agenda', 'bag', 'bee', 'bin', 'bookin', 'board', 'calc', 'carte',
        'date', 'drive', 'drop', 'forms', 'games', 'git', 'link', 'listes',
        'maestro', 'memo', 'mindmap', 'minetest', 'myframa', 'news', 'notes',
        'pad', 'piaf', 'pic', 'slides', 'sphere', 'talk', 'team',
        'vectoriel', 'vox',
      ].includes(this.site);
    },
  },
};
</script>
