<template>
  <span class="btn btn-block btn-light p-0">
    <b-button
      v-if="!$te(`fnav.sites.${site}.d1`)
        || view === 'grid'
        || $t(`taxonomy.${site}[0]`) === 'c-follow'"
      block
      :href="/^fnav/.test($t(`fnav.sites.${site}.link`))
        ? $t(`link.${site}`)
        : $t(`fnav.sites.${site}.link`)"
      rel="noopener"
      target="_blank"
      variant=" "
    >
      <svg-icon
        :label="!$te(`fnav.sites.${site}.name`)
          ? $t(`color.${site}`)
          : $t(`fnav.sites.${site}.name`)"
        :name="$t(`svg.${site}`)"
        size="lg fw"
        variant="d-block"
      />
      <svg-icon
        :label="`(${$t('txt.newWindow')})`"
        name="external-link-alt"
        size="xs"
        sr-only
      />
    </b-button>
    <b-button
      v-else
      block
      :title="$te(`fnav.sites.${site}.d0`)
        ? $t(`fnav.sites.${site}.d0`)
        : ''"
      variant=" "
      @click="goToInfo(site)"
    >
      <svg-icon
        :label="!$te(`fnav.sites.${site}.name`)
          ? $t(`color.${site}`)
          : $t(`fnav.sites.${site}.name`)"
        :name="$t(`svg.${site}`)"
        size="lg fw"
        variant="d-block"
      />
      <span
        class="sr-only"
        v-html="`(${$t('txt.infos')})`"
      ></span>
    </b-button>
  </span>
</template>

<script>
export default {
  props: {
    site: {
      type: String,
      required: true,
    },
    view: {
      type: String,
      default: '',
    },
  },

  methods: {
    goToInfo(site) {
      this.$root
        .$children[0] // App.vue
        .$children[0] // Nav.vue
        .$children.find(child => child.$options._componentTag === 'SidebarMenu') // eslint-disable-line no-underscore-dangle
        .$emit('goToInfo', site);
    },
  },
};
</script>
