<template>
  <div id="f-sidebar">
    <button
      v-show="!state.sidebar"
      id="f-corner"
      v-b-toggle.f-b-sidebar
      title="Afficher le menu Framasoft"
    >
      <div class="logo-menu">
        <span v-html="logo"></span>
        <span class="text-uppercase">Menu</span>
      </div>
    </button>
    <b-sidebar
      id="f-b-sidebar"
      aria-labelledby="f-brand"
      backdrop
      :class="sidebarClass"
      header-class="position-sticky sticky-top p-0 fb-g4"
      no-header-close
      right
      shadow
      tag="aside"
      :visible="state.sidebar"
      @shown="sidebarVisibility(true)"
      @hidden="sidebarVisibility(false)"
    >
      <template v-slot:title>
        <!-- Main Navigation header -->
        <div
          v-show="!/^help/.test(view)"
          class="m-2"
        >
          <b-button-close
            v-b-toggle.f-b-sidebar
            class="fixed-top py-1 px-2"
            :aria-label="$t('txt.close')"
            style="left: auto"
          />
          <h1 class="mx-2 mt-3 h3 d-flex justify-content-center align-items-center">
            <a
              id="f-brand"
              :href="$t('link.soft')"
            >
              <img
                alt=""
                class="d-inline"
                :src="`${$t('baseurl')}img/logo.svg`"
              />
              <span v-html="$t('color.soft')"></span>
            </a>
          </h1>
          <b-row class="m-0">
            <b-button
              id="btn-about"
              variant="light btn-sm mx-1 mt-2"
              :title="$t('about.title', {
                name: $te(`txt.${$t('site')}`)
                  ? $t(`txt.${$t('site')}`)
                  : $t('`txt.soft')
              })"
              @click="modal.about = true;"
            >
              <svg-icon
                :label="$t('about.btn')"
                name="question"
                size="fw"
                sr-only
                variant="fc-g6"
              />
            </b-button>

            <!-- Support button -->
            <b-button
              v-show="!benevalo()"
              id="btn-soutenir"
              v-b-popover:f-nav.bottomleft.hover.focus.html="$t('fnav.soutenir.d1')"
              :href="`${$t('link.soutenir')}/?f=nav`"
              rel="noopener"
              variant="soutenir btn-sm ml-auto mt-2"
              target="_blank"
              :title="$t('fnav.soutenir.t1', '-t')"
            >
              <svg-icon
                :label="$t('fnav.soutenir.name', '-t')"
                :name="$t('svg.soutenir')"
                size="lg fw"
              />
            </b-button>

            <!-- Benevalo button -->
            <b-button
              v-show="benevalo()"
              id="btn-benevalo"
              :href="$t('link.benevalo')"
              variant="info btn-sm ml-auto mt-2"
              rel="noopener"
              target="_blank"
              :title="$t('fnav.benevalo.t1', '-t')"
            >
              <svg-icon
                :label="$t('fnav.benevalo.name', '-t')"
                :name="$t('svg.benevalo')"
                size="lg fw"
              />
            </b-button>
          </b-row>
          <b-row class="mx-0 mt-2">
            <b-input-group size="sm">
              <b-input-group-prepend>
                <b-button-group
                  class="mr-2 ml-1"
                  size="sm"
                >
                  <b-button
                    :variant="`light border-0 ${view === 'grid' ? 'active' : ''}`"
                    @click="view = 'grid'; search = ''"
                  >
                    <svg-icon
                      name="grip-vertical"
                      size="fw"
                      variant="fc-g6"
                    />
                  </b-button>
                  <b-button
                    :variant="`light border-0 ${view === 'category' ? 'active' : ''}`"
                    @click="view = 'category'; search = ''"
                  >
                    <svg-icon
                      name="bars"
                      size="fw"
                      variant="fc-g6"
                    />
                  </b-button>
                </b-button-group>
                <label
                  for="fsb-search"
                  class="sr-only"
                  v-html="$t('txt.search')"
                ></label>
              </b-input-group-prepend>
              <b-input
                id="fsb-search-input"
                v-model="search"
                :placeholder="$t('txt.search')"
                type="text"
                class="border-0 px-2 py-1 fb-g2"
                @focusin="state.helpMenu = false; info = ''"
                @focusout="state.helpMenu = true"
              />
              <b-input-group-append>
                <b-button
                  v-show="search === ''"
                  aria-hidden="true"
                  variant="light"
                >
                  <svg-icon
                    name="search"
                    variant="fc-g7"
                  />
                </b-button>
                <b-button
                  v-show="search !== ''"
                  variant="light"
                  @click="search = ''"
                >
                  <svg-icon
                    name="backspace"
                    variant="fc-g7"
                  />
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-row>
        </div>
        <!-- Help navigation header -->
        <b-row
          v-show="/^help/.test(view)"
          class="fb-o7 fc-light mx-0"
        >
          <div class="col-2 h5 my-0 pl-0">
            <b-button
              variant="link"
              @click="view = 'category'"
            >
              <svg-icon
                :label="$t('txt.back')"
                name="chevron-left"
                sr-only
                variant="fc-light"
              />
            </b-button>
          </div>
          <h2 class="col-8 h5 text-white text-center mt-2 px-0">
            <b v-html="$t('fnav.sites.aide.name')"></b>
          </h2>
          <div class="col-2 h5 text-white text-right my-0 pr-3">
            <b-button
              v-b-toggle.f-b-sidebar
              variant="link"
            >
              <svg-icon
                :label="$t('txt.close')"
                name="times"
                sr-only
                variant="fc-light"
              />
            </b-button>
          </div>
        </b-row>
      </template>

      <template v-slot:default>
        <!-- Main navigation -->
        <div
          v-show="!/^help/.test(view)"
          class="p-2"
        >
          <!-- Default view -->
          <Categories
            v-show="view === 'category' && search === ''"
            :categories="categories"
            @collapseChange="updateSidebarClass()"
          />

          <Grid
            v-show="view === 'grid' && search === ''"
            :pages="pages"
          />

          <Info
            v-show="view === 'info' && info !== ''"
            :site="info"
            @goBack="view = 'category'; info = ''"
          />

          <Search
            v-show="search !== ''"
            :search="search"
            :categories="categories"
          />
        </div>
        <!-- Help FAQ & Feedback -->
        <div
          v-if="$t('site') !== 'contact'"
          v-show="/^help/.test(view)"
          id="f-fb-menu"
          class="p-3 fb-o2"
        >
          <a
            id="f-fb-top"
            ref="f-fb-top"
          ></a>

          <FAQ
            v-show="view === 'help s-faq'"
            :open="view === 'help s-faq'"
            :search="search"
            :status="status"
            @scrolltop="$refs['f-fb-top'].scrollIntoView()"
            @goToContact="view = 'help s-contact'"
          />

          <Participate v-show="view === 'help s-feedback'" />

          <ContactForm
            v-show="/contact/.test(view)"
            section="contact faq"
          />
        </div>
      </template>
      <template v-slot:footer>
        <b-row
          v-if="$t('site') !== 'contact'"
          v-show="!/^help/.test(view) && search === '' && state.helpMenu && info ===''"
          class="m-0"
        >
          <div
            id="fsb-feedback"
            class="fb-g4 px-3 pt-1 pb-3 w-100"
          >
            <h2
              class="h5 text-center mt-1 px-0"
              v-html="$t('fnav.sites.aide.name')"
            ></h2>
            <!-- Service documentation opened in a modal -->
            <a
              :href="$t('link.docs') + (doc ? `/${$t(`doc.${$t('site')}[0]`)}/index.html` : '')"
              class="btn btn-default btn-block px-3 d-flex align-items-center"
              onclick="return false;"
              @click.prevent.stop="modal.docs = true;"
            >
              <svg-icon
                :name="$t('svg.doc')"
                size="lg"
                variant="fb-j7 disc fc-light mr-3 mt-0"
              />
              <span v-html="$t('feedback.menu.docs')"></span>
            </a>
            <!-- Faq of the service, then contact form -->
            <a
              :href="`${$t('link.contact')}/faq/#${$t('lname')}`"
              class="btn btn-default btn-block px-3 d-flex align-items-center"
              onclick="return false;"
              @click.prevent.stop="view = 'help s-faq'"
            >
              <Status v-if="state.sidebar" />

              <svg-icon
                name="question"
                size="lg"
                variant="fb-v6 disc fc-light mr-3 mt-0"
              />
              <span v-html="$t('feedback.menu.faq')"></span>
            </a>
            <!-- Git of the service -->
            <a
              href="#feedback"
              class="btn btn-default btn-block px-3 d-flex align-items-center"
              onclick="return false;"
              @click.prevent.stop="view = 'help s-feedback'"
            >
              <svg-icon
                name="paw"
                size="lg"
                variant="fb-b7 disc fc-light mr-3 mt-0"
              />
              <span v-html="$t('feedback.menu.participate')"></span>
            </a>
          </div>
        </b-row>
        <b-row
          v-show="/^info/.test(view) && info !== ''"
          align-v="center"
          class="m-0 pt-2 pb-3 fb-g4 text-uppercase"
        >
          <b-col>
            <a
              v-if="$te(`doc.${info}`)"
              class="p-0"
              :href="`${$t('link.docs')}/${$t(`doc.${info}[0]`)}`"
              :title="$t('txt.docs')"
            >
              <svg-icon
                :label="$t('txt.docs')"
                :name="$t('svg.doc')"
                sr-only
                variant="fb-j7 disc fc-light mt-0"
              />
            </a>
          </b-col>
          <b-col>
            <b-button
              block
              :href="!$te(`fnav.sites.${info}.link`)
                ? $t(`link.${info}`)
                : $t(`fnav.sites.${info}.link`)"
              rel="noopener"
              target="_blank"
              variant="primary btn-sm"
            >
              <span v-html="$t('txt.go')"></span>
              <svg-icon
                :label="`(${$t('txt.newWindow')})`"
                name="chevron-right"
                sr-only
                variant="mt-n1"
              />
            </b-button>
          </b-col>
        </b-row>
        <b-row
          v-if="$t('site') !== 'contact'"
          v-show="/^help/.test(view)"
          class="m-0"
        >
          <!-- FAQ Search -->
          <div
            v-show="view === 'help s-faq'"
            class="search-form"
          >
            <label
              for="fsb-help-search"
              class="sr-only"
              v-html="$t('txt.search')"
            ></label>
            <b-input-group size="lg">
              <b-form-input
                id="fsb-help-search"
                v-model="search"
                :placeholder="$t('txt.search')"
                type="text"
                size="40"
              />
              <b-input-group-append
                class="border-top fb-light"
              >
                <b-button
                  v-show="search === ''"
                  aria-hidden="true"
                  variant="light fb-light"
                >
                  <svg-icon
                    name="search"
                    variant="fc-g7"
                  />
                </b-button>
                <b-button
                  v-show="search !== ''"
                  variant="light fb-light"
                  @click="search = ''"
                >
                  <svg-icon
                    name="backspace"
                    variant="fc-g7"
                  />
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </div>
        </b-row>
      </template>
    </b-sidebar>

    <ModalDocs
      :open="modal.docs"
      @close="modal.docs = false"
    />

    <ModalAbout
      :open="modal.about"
      @close="modal.about = false"
    />
  </div>
</template>

<script>
// Main
import Categories from './Categories.vue';
import Grid from './Grid.vue';
import Info from './Info.vue';
import ModalAbout from '../ModalAbout.vue';
import ModalDocs from '../ModalDocs.vue';
import Search from './Search.vue';
import Status from '../feedback/Status.vue';
// Help
import ContactForm from '../feedback/ContactForm.vue';
import FAQ from '../feedback/FAQ.vue';
import Participate from '../feedback/Participate.vue';

export default {
  components: {
    Categories,
    Grid,
    Info,
    ModalAbout,
    ModalDocs,
    Search,
    Status,
    ContactForm,
    FAQ,
    Participate,
  },

  data() {
    // Prepare categories
    const grid = Object.keys(this.$t('taxonomy')).sort();
    const categories = {};
    const pages = [[]];
    let i = 0;
    const sites = {};
    grid.forEach((k) => {
      if (categories[this.$t(`taxonomy.${k}[0]`)] === undefined) {
        categories[this.$t(`taxonomy.${k}[0]`)] = [];
      }
      categories[this.$t(`taxonomy.${k}[0]`)].push(k);

      if (pages[i].length > 0
        && pages[i][pages[i].length - 1][0] !== k[0]) {
        i += 1;
        pages[i] = [];
      }
      pages[i].push(k);
    });
    categories['c-follow'] = ['newsletter', 'rss', 'news-pt', 'news-mz',
      'diaspora', 'mastodon', 'twitter', 'facebook', 'wikipedia'];

    return {
      categories,
      collapse: ['', ''],
      doc: this.$te(`doc.${this.$t('site')}`),
      info: '',
      modal: {
        about: false,
        docs: false,
      },
      pages,
      search: '',
      sidebarClass: '',
      sites,
      state: {
        helpMenu: true,
        sidebar: false,
      },
      status: [],
      view: 'category', // category, grid, help…
      logo: '',
    };
  },

  watch: {
    collapse() {
      this.updateSidebarClass();
    },
    search() {
      this.view = this.view.replace('info', 'category');
      this.updateSidebarClass();
    },
    view() {
      this.updateSidebarClass();
    },
  },

  mounted() {
    this.logo = require('!svg-inline-loader!../../../../app/assets/img/logo-sidebar.svg') // eslint-disable-line
    // Keyboard shortcut to open sidebar Ctrl + Shift + F
    const kkeys = [];
    const shortcut = ['Control', 'F', 'Shift'];
    window.addEventListener('keydown', (e) => {
      if (shortcut.includes(e.key)) {
        kkeys.push(e.key);
        kkeys.sort();
        if (kkeys.length === 3 && kkeys.join() === shortcut.join()) {
          this.toggleFramaSidebar();
        }
      } else {
        kkeys.splice(0, kkeys.length);
      }

      if (kkeys.length >= 3) {
        kkeys.splice(0, kkeys.length);
      }
    }, true);

    this.updateSidebarClass();

    setInterval(() => {
      this.state.sidebar = (document.getElementsByTagName('html')[0]
        .getAttribute('data-sidebar') || false) === 'true';
    }, 200);

    this.$on('goToInfo', (e) => {
      this.goToInfo(e);
    });
  },

  methods: {
    benevalo() {
      const today = Math.floor(new Date().getTime() / 1000);
      const fullMoon = 1453603580; // 24/01/2016 02:46:20
      const moonRev = 2551443; // 29j 12h 44m 3s

      return ((today - fullMoon) % moonRev < 129600
        || (today - fullMoon) % moonRev > moonRev - 129600);
    },

    goToInfo(e) {
      this.view = 'info';
      this.info = e;
    },

    sidebarVisibility(visible) {
      document.getElementsByTagName('html')[0].setAttribute('data-sidebar', visible);
      this.state.sidebar = visible;
    },

    updateSidebarClass() {
      this.sidebarClass = `d-print-none s-${this.view} ${
        this.search !== '' ? 's-search' : ''
      } ${
        this.collapse[0] !== '' ? `c-lvl1 c-${this.collapse[0]}` : ''
      } ${
        this.collapse[1] !== '' ? `c-lvl2 c-${this.collapse[1]}` : ''
      }`;
    },
  },
};
</script>
