<template>
  <section
    id="fsb-search"
    class="px-2"
  >
    <div class="search-results">
      <div
        v-for="key in Object.keys($t('searchLabels'))"
        :key="key"
        :class="result.includes(`c-${key}`) ? 'search' : ''"
      >
        <h2
          class="h5 mt-3"
          v-html="$t(`searchLabels.${key}`)"
        ></h2>
        <ul class="list-group">
          <li
            v-for="l in categories[`c-${key}`]"
            :key="l"
            :class="`list-group-item border-0 ${
              result.includes(l) ? 'search' : ''
            } fs-${l}`"
          >
            <button
              v-if="$te(`fnav.sites.${l}.d1`) && $t(`taxonomy.${l}[0]`) !== 'c-follow'"
              class="btn btn-link float-right my-1 p-0 fc-d6 hover:fc-b6"
              :title="$t('txt.info-about', {site: l})"
              @click="goToInfo(l)"
            >
              <svg-icon
                :label="$t('txt.infos')"
                name="info-circle"
                sr-only
              />
            </button>
            <a
              class="text-decoration-none"
              :href="/^fnav/.test($t(`fnav.sites.${l}.link`))
                ? $t(`link.${l}`)
                : $t(`fnav.sites.${l}.link`)"
              rel="noopener"
              target="_blank"
            >
              <svg-icon
                :label="$te(`fnav.sites.${l}.name`)
                  ? $t(`fnav.sites.${l}.name`)
                  : $t(`color.${l}`)"
                :name="$t(`svg.${l}`)"
                size="lg fw"
                variant="fc-g6"
              />
              <svg-icon
                :label="`(${$t('txt.newWindow')})`"
                name="external-link-alt"
                size="xs"
                sr-only
                variant="fc-d6"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div
      v-if="search.length > 2"
      class="exo-search"
    >
      <hr />
      <p class="mb-2">
        <span v-html="$t('txt.search')"></span>
        <i><b v-text="search"></b></i>
        <span v-html="$t('txt.on')"></span>
      </p>
      <b-row class="no-gutters mx-n1">
        <b-col class="m-1">
          <b-button
            block
            :href="`https://duckduckgo.com/?q=${search}`"
            rel="noopener"
            size="sm"
            target="_blank"
            variant="light border text-left"
          >
            <svg-icon
              :label="$t('search.web')"
              name="search"
              variant="disc fc-d1 fb-g7"
            />
          </b-button>
        </b-col>
      </b-row>
      <b-row class="no-gutters mx-n1">
        <b-col class="m-1">
          <b-button
            block
            :href="`https://duckduckgo.com/?q=${search} (site:${framaworld}`"
            rel="noopener"
            size="sm"
            target="_blank"
            variant="light border text-left"
          >
            <svg-icon
              :label="$t('search.frama')"
              name="search"
              variant="disc fc-d1 fb-f7"
            />
          </b-button>
        </b-col>
      </b-row>
      <b-row class="no-gutters mx-n1">
        <b-col class="m-1">
          <b-button
            block
            :href="`https://framablog.org/?s=${search}`"
            rel="noopener"
            size="sm"
            target="_blank"
            variant="light border text-left"
          >
            <svg-icon
              :label="$t('search.blog')"
              :name="$t('svg.blog')"
              variant="disc fc-d1 fb-r8"
            />
          </b-button>
        </b-col>
        <b-col class="m-1">
          <b-button
            block
            :href="`https://framacolibri.org/search?q=${search}`"
            rel="noopener"
            size="sm"
            target="_blank"
            variant="light border text-left"
          >
            <svg-icon
              :label="$t('search.colibri')"
              :name="$t('svg.colibri')"
              variant="disc fc-d1 fb-j6"
            />
          </b-button>
        </b-col>
      </b-row>
      <b-row class="no-gutters mx-n1">
        <b-col class="m-1">
          <b-button
            block
            :href="`https://framalibre.org/recherche-par-crit-res?keys=${search}`"
            rel="noopener"
            size="sm"
            target="_blank"
            variant="light border text-left"
          >
            <svg-icon
              :label="$t('search.libre')"
              :name="$t('svg.libre')"
              variant="disc fc-d1 fb-b7"
            />
          </b-button>
        </b-col>
        <b-col class="m-1">
          <b-button
            block
            :href="`https://framatube.org/search?search=${search}&searchTarget=local`"
            rel="noopener"
            size="sm"
            target="_blank"
            variant="light border text-left"
          >
            <svg-icon
              :label="$t('search.tube')"
              :name="$t('svg.tube')"
              variant="disc fc-d1 fb-r8"
            />
          </b-button>
        </b-col>
      </b-row>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    categories: {
      type: Object,
      required: true,
    },

    search: {
      type: String,
      required: true,
    },
  },

  data() {
    return {
      framaworld: [
        'degooglisons-internet.org', 'contributopia.org',
        'framalibre.org', 'framablog.org', 'framabook.org', 'framatube.org',
        'framacolibri.org', 'participer.framasoft.org',
        'docs.framasoft.org', 'framacloud.org',
      ].join(' OR site:').replace(/$/, ')'),
      result: [],
    };
  },

  watch: {
    search(newValue) {
      if (newValue.length !== '') {
        this.searchUpdate();
      }
    },
  },

  methods: {
    goToInfo(site) {
      this.$root
        .$children[0] // App.vue
        .$children[0] // Nav.vue
        .$children.find(child => child.$options._componentTag === 'SidebarMenu') // eslint-disable-line no-underscore-dangle
        .$emit('goToInfo', site);
    },

    searchUpdate() {
      this.result = [];
      if (this.search.length > 1) {
        Object.keys(this.categories).forEach((j) => {
          this.categories[j].forEach((k) => {
            const words = this.$t(this.search, '-klL').replace(', ', ',').split(',');
            const reg = new RegExp(`(${words.join('|')})`, 'g');
            const content = this.$t(`txt.${k}`, '-lL');

            if (reg.test(content)) {
              this.result.push(k);
              this.result.push(j);
            }
          });
        });
      }
    },
  },
};
</script>
