.f-bs4 #f-fb-faq {
  a.toggle {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: -1.35rem;
    z-index: 1;
    outline: 0;
    // background: linear-gradient(0deg, transparent 2px, #00000011 0, transparent 20%);

    &::after {
      content: "[…]";
      position: absolute;
      bottom: -5px;
      right: 5px;
      color: c(g, 6);
      font-weight: bold;
      font-size: 0.75rem;
    }
  }

  .list-group-item-text {
    font-size: 0.875rem;
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    filter: grayscale(80%);
  }

  .close {
    margin: -5px -10px 5px 10px;
  }

  .list-group-item {
    padding: 0.75rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0 !important;

    h3 {
      font-size: 0.95rem;
      font-weight: bold;
      border-bottom: 1px dashed #ddd;
      margin: 0 0 10px;
      padding: 0 0 12px;
    }

    h4 {
      font-size: 13px;
    }

    b, strong {
      font-weight: normal;
    }

    ul {
      padding-left: 20px;
    }

    &:hover {
      box-shadow: 0px 2px 6px lighten($orange, 25%);
    }

    &.active {
      background: #fff;

      h3 {
        font-size: 22px;
        color: c(d, 9);
        font-weight: normal;
      }

      h4 {
        font-size: 16px;
      }

      b, strong {
        font-weight: bold;
      }

      a.toggle {
        position: relative;
        top: -30px;

        &:after {
          display: none;
        }
      }

      .list-group-item-text {
        color: c(d, 9);
        max-height: initial;
        filter: grayscale(0%);
      }

      &:after {
        display: none;
      }
    }

    &.bg-info:not(.active) {
      border: 1px solid #b2d5db;
      white-space: pre-wrap;
      &:after { box-shadow: -5px -20px 30px #e1f8fc; }
      h3 { border-bottom-color: #b2d5db; }
    }

    &.bg-warning:not(.active) {
      border: 1px solid #ffcf4f;
      white-space: pre-wrap;
      &:after { box-shadow: -5px -20px 30px #ffebb5; }
      h3 { border-bottom-color: #ffcf4f; }
    }

    &.bg-danger:not(.active) {
      border: 1px solid #e0b3a8;
      white-space: pre-wrap;
      &:after { box-shadow: -5px -20px 30px #fde0dc; }
      h3 { border-bottom-color: #e0b3a8; }
    }
  }

  p.text-right,
  .list-group-item:not(.active),
  #f-fb-reminder.card {
    display: none;
  }

  .all #f-fb-reminder.card {
    display: flex;
  }

  .all .list-group-item:not(.active) {
    display: block;
  }

  .all.filter .list-group-item {
    display: none;
  }

  .all.nofilter .list-group-item,
  .all.filter .list-group-item.search {
    display: block;
  }

  .no-answer {
    margin-top: 30px;
  }
}
